{% load static %}
<!-- Category Sidebar start -->
<div class="ec-side-cat-overlay"></div>
<div class="col-lg-3 category-sidebar" data-animation="fadeIn">
    <div class="cat-sidebar">
        <div class="cat-sidebar-box">
            <div class="ec-sidebar-wrap">
                <!-- Sidebar Category Block -->
                <div class="ec-sidebar-block">
                    <div class="ec-sb-title">
                        <h3 class="ec-sidebar-title">Category
                            <button class="ec-close">×</button>
                        </h3>
                    </div>
                    <div class="ec-sb-block-content">
                        <ul>
                            <li>
                                <div class="ec-sidebar-block-item"><img
                                        src="{% static 'store/assets/images/icons/dress-8.svg' %}" class="svg_img"
                                        alt="drink"/>Cothes
                                </div>
                                <ul style="display: block;">
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Shirt
                                            <span title="Available Stock">- 25</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">shorts &
                                            jeans <span title="Available Stock">- 52</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a
                                                href="shop-left-sidebar-col-3.html">jacket<span title="Available Stock">- 500</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">dress &
                                            frock <span title="Available Stock">- 35</span></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="ec-sb-block-content">
                        <ul>
                            <li>
                                <div class="ec-sidebar-block-item"><img
                                        src="{% static 'store/assets/images/icons/shoes-8.svg' %}" class="svg_img"
                                        alt="drink"/>Footwear
                                </div>
                                <ul>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Sports
                                            <span title="Available Stock">- 25</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Formal
                                            <span title="Available Stock">- 52</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Casual
                                            <span title="Available Stock">- 40</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">safety
                                            shoes <span title="Available Stock">- 35</span></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="ec-sb-block-content">
                        <ul>
                            <li>
                                <div class="ec-sidebar-block-item"><img
                                        src="{% static 'store/assets/images/icons/jewelry-8.svg' %}" class="svg_img"
                                        alt="drink"/>jewelry
                                </div>
                                <ul>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Earrings
                                            <span title="Available Stock">- 50</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Couple
                                            Rings <span title="Available Stock">- 35</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Necklace
                                            <span title="Available Stock">- 40</span></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="ec-sb-block-content">
                        <ul>
                            <li>
                                <div class="ec-sidebar-block-item"><img
                                        src="{% static 'store/assets/images/icons/perfume-8.svg' %}" class="svg_img"
                                        alt="drink"/>perfume
                                </div>
                                <ul>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Clothes
                                            perfume<span title="Available Stock">- 4 pcs</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">deodorant
                                            <span title="Available Stock">- 52 pcs</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Flower
                                            fragrance <span title="Available Stock">- 10 pack</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Air
                                            Freshener<span title="Available Stock">- 35 pack</span></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="ec-sb-block-content">
                        <ul>
                            <li>
                                <div class="ec-sidebar-block-item"><img
                                        src="{% static 'store/assets/images/icons/cosmetics-8.svg' %}" class="svg_img"
                                        alt="drink"/>cosmetics
                                </div>
                                <ul>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a
                                                href="shop-left-sidebar-col-3.html">shampoo<span
                                                title="Available Stock"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Sunscreen<span
                                                title="Available Stock"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">body
                                            wash<span title="Available Stock"></span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">makeup
                                            kit<span title="Available Stock"></span></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="ec-sb-block-content">
                        <ul>
                            <li>
                                <div class="ec-sidebar-block-item"><img
                                        src="{% static 'store/assets/images/icons/glasses-8.svg' %}" class="svg_img"
                                        alt="drink"/>glasses
                                </div>
                                <ul>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Sunglasses
                                            <span title="Available Stock">- 20</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Lenses
                                            <span title="Available Stock">- 52</span></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class="ec-sb-block-content">
                        <ul>
                            <li>
                                <div class="ec-sidebar-block-item"><img
                                        src="{% static 'store/assets/images/icons/bag-8.svg' %}" class="svg_img"
                                        alt="drink"/>bags
                                </div>
                                <ul>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">shopping
                                            bag <span title="Available Stock">- 25</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">Gym
                                            backpack <span title="Available Stock">- 52</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">purse
                                            <span title="Available Stock">- 40</span></a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="ec-sidebar-sub-item"><a href="shop-left-sidebar-col-3.html">wallet
                                            <span title="Available Stock">- 35</span></a>
                                        </div>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- Sidebar Category Block -->
            </div>
        </div>
    </div>
</div>

