{% load static %}

<!-- Newsletter Modal Start -->
<div id="ec-popnews-bg"></div>
<div id="ec-popnews-box">
    <div id="ec-popnews-close"><i class="ecicon eci-close"></i></div>
    <div class="row">
        <div class="col-md-6 disp-no-767">
            <img src="{% static 'store/assets/images/banner/newsletter.png' %}" alt="newsletter">
        </div>
        <div class="col-md-6">
            <div id="ec-popnews-box-content">
                <h2>Subscribe Newsletter</h2>
                <p>Subscribe the ekka ecommerce to get in touch and get the future update. </p>
                <form id="ec-popnews-form" action="#" method="post">
                    <input type="email" name="newsemail" placeholder="Email Address" required/>
                    <button type="button" class="btn btn-primary" name="subscribe">Subscribe</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- Newsletter Modal end -->