{% load static %}

<!-- Product tab Area Start -->
<section class="section ec-product-tab section-space-p" id="collection">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Our Top Collection</h2>
                    <h2 class="ec-title">Our Top Collection</h2>
                    <p class="sub-title">Browse The Collection of Top Products</p>
                </div>
            </div>

            <!-- Tab Start -->
            <div class="col-md-12 text-center">
                <ul class="ec-pro-tab-nav nav justify-content-center">
                    <li class="nav-item"><a class="nav-link active" data-bs-toggle="tab" href="#tab-pro-for-all">For
                        All</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-pro-for-men">For
                        Men</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-pro-for-women">For
                        Women</a></li>
                    <li class="nav-item"><a class="nav-link" data-bs-toggle="tab" href="#tab-pro-for-child">For
                        Children</a></li>
                </ul>
            </div>
            <!-- Tab End -->
        </div>
        <div class="row">
            <div class="col">
                <div class="tab-content">
                    <!-- 1st Product tab start -->
                    <div class="tab-pane fade show active" id="tab-pro-for-all">
                        <div class="row">
                            <!-- Product Content -->
                            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-6 mb-6  ec-product-content"
                                 data-animation="fadeIn">
                                <div class="ec-product-inner">
                                    <div class="ec-pro-image-outer">
                                        <div class="ec-pro-image">
                                            <a href="product-left-sidebar.html" class="image">
                                                <img class="main-image"
                                                     src="{% static 'store/assets/images/product-image/6_1.jpg' %}"
                                                     alt="Product"/>
                                                <img class="hover-image"
                                                     src="{% static 'store/assets/images/product-image/6_2.jpg' %}"
                                                     alt="Product"/>
                                            </a>
                                            <span class="percentage">20%</span>
                                            <a href="#" class="quickview" data-link-action="quickview"
                                               title="Quick view" data-bs-toggle="modal"
                                               data-bs-target="#ec_quickview_modal"><img
                                                    src="{% static 'store/assets/images/icons/quickview.svg"
                                                    class="svg_img pro_svg"
                                                    alt=""/></a>
                                            <div class="ec-pro-actions">
                                                <a href="compare.html" class="ec-btn-group compare"
                                                   title="Compare"><img
                                                        src="{% static 'store/assets/images/icons/compare.svg"
                                                        class="svg_img pro_svg" alt=""/></a>
                                                <button title="Add To Cart" class="add-to-cart"><img
                                                        src="{% static 'store/assets/images/icons/cart.svg"
                                                        class="svg_img pro_svg"
                                                        alt=""/> Add To Cart
                                                </button>
                                                <a class="ec-btn-group wishlist" title="Wishlist"><img
                                                        src="{% static 'store/assets/images/icons/wishlist.svg"
                                                        class="svg_img pro_svg" alt=""/></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="ec-pro-content">
                                        <h5 class="ec-pro-title"><a href="product-left-sidebar.html">Round Neck
                                            T-Shirt</a></h5>
                                        <div class="ec-pro-rating">
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star fill"></i>
                                            <i class="ecicon eci-star"></i>
                                        </div>
                                        <span class="ec-price">
                                                <span class="old-price">$27.00</span>
                                                <span class="new-price">$22.00</span>
                                            </span>
                                        <div class="ec-pro-option">
                                            <div class="ec-pro-color">
                                                <span class="ec-pro-opt-label">Color</span>
                                                <ul class="ec-opt-swatch ec-change-img">
                                                    <li class="active"><a href="#" class="ec-opt-clr-img"
                                                                          data-src="{% static 'store/assets/images/product-image/6_1.jpg' %}"
                                                                          data-src-hover="{% static 'store/assets/images/product-image/6_1.jpg' %}"
                                                                          data-tooltip="Gray"><span
                                                            style="background-color:#e8c2ff;"></span></a></li>
                                                    <li><a href="#" class="ec-opt-clr-img"
                                                           data-src="{% static 'store/assets/images/product-image/6_2.jpg' %}"
                                                           data-src-hover="{% static 'store/assets/images/product-image/6_2.jpg' %}"
                                                           data-tooltip="Orange"><span
                                                            style="background-color:#9cfdd5;"></span></a></li>
                                                </ul>
                                            </div>
                                            <div class="ec-pro-size">
                                                <span class="ec-pro-opt-label">Size</span>
                                                <ul class="ec-opt-size">
                                                    <li class="active"><a href="#" class="ec-opt-sz"
                                                                          data-old="$25.00" data-new="$20.00"
                                                                          data-tooltip="Small">S</a></li>
                                                    <li><a href="#" class="ec-opt-sz" data-old="$27.00"
                                                           data-new="$22.00" data-tooltip="Medium">M</a></li>
                                                    <li><a href="#" class="ec-opt-sz" data-old="$30.00"
                                                           data-new="$25.00" data-tooltip="Large">X</a></li>
                                                    <li><a href="#" class="ec-opt-sz" data-old="$35.00"
                                                           data-new="$30.00" data-tooltip="Extra Large">XL</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 shop-all-btn"><a href="shop-left-sidebar-col-3.html">Shop All
                                Collection</a></div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- ec Banner Section Start -->
<section class="ec-banner section section-space-p">
    <h2 class="d-none">Banner</h2>
    <div class="container">
        <!-- ec Banners Start -->
        <div class="ec-banner-inner">
            <!--ec Banner Start -->
            <div class="ec-banner-block ec-banner-block-2">
                <div class="row">
                    <div class="banner-block col-lg-6 col-md-12 margin-b-30" data-animation="slideInRight">
                        <div class="bnr-overlay">
                            <img src="{% static 'store/assets/images/banner/2.jpg' %}" alt=""/>
                            <div class="banner-text">
                                <span class="ec-banner-stitle">New Arrivals</span>
                                <span class="ec-banner-title">mens<br> Sport shoes</span>
                                <span class="ec-banner-discount">30% Discount</span>
                            </div>
                            <div class="banner-content">
                                <span class="ec-banner-btn"><a href="#">Order Now</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="banner-block col-lg-6 col-md-12" data-animation="slideInLeft">
                        <div class="bnr-overlay">
                            <img src="{% static 'store/assets/images/banner/3.jpg' %}" alt=""/>
                            <div class="banner-text">
                                <span class="ec-banner-stitle">New Trending</span>
                                <span class="ec-banner-title">Smart<br> watches</span>
                                <span class="ec-banner-discount">Buy any 3 Items & get <br>20% Discount</span>
                            </div>
                            <div class="banner-content">
                                <span class="ec-banner-btn"><a href="#">Order Now</a></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ec Banner End -->
            </div>
            <!-- ec Banners End -->
        </div>
    </div>
</section>
<!-- ec Banner Section End -->