{% extends "account/registration/layout.html" %}
{% block title %}<title> Ekka | Register</title> {% endblock %}
{% block content %}

<!-- Ec breadcrumb start -->
<div class="sticky-header-next-sec  ec-breadcrumb section-space-mb">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="row ec_breadcrumb_inner">
                    <div class="col-md-6 col-sm-12">
                        <h2 class="ec-breadcrumb-title">Register</h2>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <!-- ec-breadcrumb-list start -->
                        <ul class="ec-breadcrumb-list">
                            <li class="ec-breadcrumb-item"><a href="#">Home</a></li>
                            <li class="ec-breadcrumb-item active">Register</li>
                        </ul>
                        <!-- ec-breadcrumb-list end -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Ec breadcrumb end -->
<!-- Start Register -->
<section class="ec-page-content section-space-p">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="section-title">
                    <h2 class="ec-bg-title">Register</h2>
                    <h2 class="ec-title">Register</h2>
                    <p class="sub-title mb-3">Best place to buy and sell digital products</p>
                    {% for message in messages %}
                    <p id="messages" style="color:green;">{{message}}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="ec-register-wrapper">
                <div class="ec-register-container">
                    <div class="ec-register-form">
                        <form method="POST">
                            {% csrf_token %}
                            <span class="ec-register-wrap ec-register-half">
                                    <label>First Name*</label>
                                    <input {% if signup_form.is_bound %} value="{{ signup_form.firstname.value }}"
                                           {% endif %} type="text" name="firstname"
                                           placeholder="Enter your first name"
                                           required/>
                                </span>
                            <span class="ec-register-wrap ec-register-half">
                                    <label>Last Name*</label>
                                    <input
                                            {% if signup_form.is_bound %} value="{{ signup_form.lastname.value }}"
                                            {% endif %} type="text" name="lastname"
                                            placeholder="Enter your last name"
                                            required/>
                                </span>
                            <span class="ec-register-wrap ec-register-half">
                                    <label>Email*</label>
                                    {% for err in signup_form.email.errors %}
										<small style="color:red;" class="text-danger ml-2">{{ err }}</small>
									{% endfor %}
                                    <input
                                            {% if signup_form.is_bound %} value="{{ signup_form.email.value }}"
                                            {% endif %} type="email" name="email" placeholder="Enter your email add..."
                                            required/>
                                </span>
                            <span class="ec-register-wrap ec-register-half">
                                    <label>Phone Number*</label>
                                    {% for err in signup_form.mobile.errors %}
										<small style="color:red;" class="text-danger ml-2">{{ err }}</small>
									{% endfor %}
                                    <input
                                            {% if signup_form.is_bound %} value="{{ signup_form.mobile.value }}"
                                            {% endif %} type="text" name="mobile" placeholder="Enter your phone number"
                                            required/>
                                </span>

                            <span class="ec-register-wrap ec-register-half">
                                    <label>Password*</label>
                                    <input type="password" name="password1" placeholder="Enter your password"
                                           required/>
                            </span>
                            <span class="ec-register-wrap ec-register-half">
                                    <label>Confirm Password*</label>
                                    {% for err in signup_form.password2.errors %}
										<small style="color:red;" class="text-danger ml-2">{{ err }}</small>
									{% endfor %}
                                    <input type="password" name="password2" placeholder="Enter your password"
                                           required/>
                            </span>

                            <span class="ec-register-wrap ec-register-btn">
                                    <button class="btn btn-primary" type="submit">Register</button>
                                     <a href="{% url 'account:login' %}" class="btn btn-secondary">Login</a>
                                </span>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Register -->

{% endblock content %}
